<ion-header>

  <ion-navbar>
    <ion-title>Server database Areas</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="reload()">
        <ion-icon name="sync"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <p *ngIf="!items">
    No items to display
  </p>

  <ion-list *ngIf="items">
    <ion-item *ngIf="items.length == 0">
      No items to display
    </ion-item>
    <ion-item *ngFor="let item of items; let i = index">
      <h2>{{ item.name }}</h2>
      <p>
        <b>ID:</b> {{ item.id }}
      </p>
      <p>
        <b>Trap points:</b> {{ item.trap_points }}
      </p>
      <button ion-button clear item-end (click)="downloadItem(item)">
        <ion-icon name="cloud-download"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>