<ion-header>

  <ion-navbar>
    <ion-title>Phone storage Areas</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="reload()">
        <ion-icon name="sync"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <p *ngIf="!items" padding>
    No items to display.<br>Please download items from server.
  </p>

  <ion-list *ngIf="items && items.length == 0">
    <ion-item>
      <p>No areas to display.</p>
      <p>Please download areas from server or reload.</p>
      <button ion-button clear item-end (click)="reload(item)">
        <ion-icon name="sync"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="items && items.length > 0">
    <ion-item-sliding *ngFor="let item of items; let i = index">
      <ion-item>
        <h2>{{ item.name }}</h2>
        <p>
          <b>ID:</b> {{ item.id }}
        </p>
        <p>
          <b>Trap points:</b> {{ item.trap_points }}
        </p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button (click)="removeItemFromStorage(item)">
          <ion-icon name="archive"></ion-icon>
          archive
        </button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button (click)="editItemForm(item)">
          <ion-icon name="folder-open"></ion-icon>
          edit
        </button>
        <button ion-button color="secondary" (click)="uploadItemToSever(item)">
          <ion-icon name="cloud-upload"></ion-icon>
          upload
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <!-- <button ion-button color="danger" (click)="deleteAllItems()" style="display: block; margin:auto;">
    Delete all
  </button> -->

</ion-content>
